.select {
  display: inline-block;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    padding: 8px 15px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: 0 3px 5px -3px fade(@darkgrey, 20%);
    width: 100%;
  }
}
