@darkgrey: #5C5D6F;
@pink: lighten(#CD3A60, 10%);
@green: lighten(#5BB65D, 10%);

* {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  color: @darkgrey;
  font-family: Fira Sans, Input Mono, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  > div {
    margin-right: 10px;
    flex-grow: 1;
  }
}
.right-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  background: none;
  color: inherit;
  border: none;
  font-size: inherit;
}
header {
  h1 {
    font-size: 20px;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid lighten(@darkgrey, 48%);
    box-shadow: 0 2px 8px 0 lighten(@darkgrey, 55%);
    .breadcrumbs {
      color: lighten(@darkgrey, 30%);
      font-size: 0.7em;
      text-decoration: none;
      &:hover {
        color: @pink;
      }
      &::after {
        font-weight: normal;
        content: '/';
        color: lighten(@darkgrey, 50%);
        margin: 0 0.2em 0 0.5em;
      }
    }
  }

}

nav.tabs {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid @greyborder;
    li {
      display: block;
      list-style: none;
      margin: 0;
      flex-grow: 1;
      a {
        display: block;
        padding: 10px;
        text-align: center;
        color: lighten(@darkgrey, 40%);
        &:hover {
          background: darken(white, 5%);
        }
        &.active {
          color: @darkgrey;
        }
      }
    }
  }
}

// main {
//   .filters {
//     position: relative;
//     z-index: 100;
//     padding: 10px;
//     .button-group {
//       margin-right: 10px;
//       display: inline-block;
//       button:first-child {
//         border-radius: 2px 0 0 2px;
//       }
//       button:last-child {
//         border-radius: 0 2px 2px 0;
//       }
//       button:first-child:last-child {
//         border-radius: 2px;
//       }
//     }
//     .chooser {
//       background: white;
//       color: lighten(@darkgrey, 30%);
//       border: 1px solid lighten(@darkgrey, 50%);
//       padding: 8px 18px;
//       margin-right: -1px;
//       margin-bottom: 5px;
//       font-size: 14px;
//       position: relative;
//       cursor: pointer;
//       &:hover {
//         border: 1px solid @pink;
//         z-index: 1;
//       }
//       .content {
//         color: @pink;
//       }
//       &.icon {
//         padding: 8px 13px;
//       }
//       &.pink {
//         background: @pink;
//         color: white;
//         border: 1px solid darken(@pink, 5%);
//         &:hover {
//           background: lighten(@pink, 5%);
//         }
//       }
//     }
//     .filter-input {
//       display: none;
//       input {
//         width: 100%;
//         padding: 5px;
//       }
//     }
//   }
//   table {
//     width: 100%;
//   }
//   table, td, th {
//     border-collapse: collapse;
//     text-align: left;
//   }
//   td, th {
//     padding: 10px;
//     border-bottom: 1px solid #DDD;
//     // &:first-child {
//     //   padding-left: 27px;
//     // }  
//   }
//   th {
//     position: relative;
//     background: @darkgrey;
//     border: 1px solid darken(@darkgrey, 5%);
//     color: white;
//     font-weight: normal;
//     cursor: pointer;
//     color: fade(white, 90%);
//     &:hover {
//       background: lighten(@darkgrey, 5%);
//     }
//     .carrot {
//       background: none;
//       color: inherit;
//       font-size: 16px;
//       font-family: inherit;
//       border: none;
//       position: absolute;
//       top: 0;
//       right: 0;
//       height: 100%;
//       width: 40px;
//       &:focus {
//         outline: none;
//       }
//       > span {
//         opacity: 0;
//       }
//       &.selected > span, {
//         opacity: 1;
//       }
//     }
//     &:hover {
//       color: white;
//       .carrot > span {
//         opacity: 0.5;
//       }
//       .carrot.selected > span {
//         opacity: 1;
//       }
//     }
//   }
//   .settings {
//     width: 45px;
//     background: @pink;
//     border-color: @pink;
//     color: white;
//     text-align: center;
//     position: relative;
//     user-select: none;
//     &:hover {
//       background: lighten(@pink, 5%);
//     }
//     .menu {
//       text-align: left;
//       background: white;
//       color: @darkgrey;
//       border-right: 1px solid #DDD;
//       border-bottom: 1px solid #DDD;
//       position: absolute;
//       top: 100%;
//       left: -1px;
//       margin: 0;
//       margin-top: 1px;
//       padding: 5px;
//       list-style: none;
//       z-index: 1;
//       white-space: nowrap;
//       font-size: 13px;
//       li {
//         margin: 0;
//         padding: 4px 10px;
//         input {
//           display: inline-block;
//         }
//       }
//     }
//   }
//   .delivery {
//     background: @green;
//     color: white;
//     border-bottom-color: darken(@green, 10%);
//   }
//   .category {
//     display: block;
//     color: lighten(@darkgrey, 30%);
//     font-size: 0.8em;
//   }
// }

// .campaign-list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   li {
//     padding: 0;
//   }
//   a {
//     display: block;
//     text-decoration: none;
//     color: inherit;
//     padding: 15px 20px;
//     border-bottom: 1px solid #DDD;
//     &:hover {
//       color: @pink;
//     }
//   }
// }

// .ctr {
//   // &.ctr-1 {
//   //   color: @pink;
//   // }
//   &.ctr-3 {
//     color: @green;
//   }
// }

// Home
.status {
  &.status-active,
  &.status-complete {
    color: @green;
  }
  &.status-paused {
    color: #999;
  }
}

@import 'components/table/table';
@import 'components/modal/modal';
@import 'components/select/select';

.row {
  display: flex;
  .half {
    margin-right: 10px;
    width: 50%;
  }
  .third {
    margin-right: 10px;
    width: 33%
  }
  .quarter {
    margin-right: 10px;
    width: 25%
  }
  label {
    font-weight: bold;
    display: block;
  }
  .input, .select {
    width: 100%;
  }
}
.form-group {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.report-settings {
  label {
    display: block;
    color: lighten(@darkgrey, 20%);
  }
  .select {
    width: 100%;
  }
}

.summary {
  padding: 20px 0;
  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
  strong {
    color: @pink;
    font-weight: normal;
    background: #F8FAFC;
    padding: 0 5px;
    border: 1px solid #E7E9ED;
    border-radius: 8px;
  }
}


.home {
  h2, h3 {
    font-weight: normal;
  }
  h2 {
    margin: 50px 0 30px;
    font-size: 28px;
  }
  h3 {
    margin: 30px 0 20px;
    padding-top: 15px;
    color: lighten(@darkgrey, 10%);
  }
  label {
    color: lighten(@darkgrey, 10%);
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}
// sidebar
.sidebar {
  min-height: 100%;
  max-width: 300px;
  border-right: 1px solid @greyborder;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
  }
  a {
    display: block;
    border-bottom: 1px solid @greyborder;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darken(@greyborder, 20%);
    .name {
      color: @darkgrey;
    }
    .notes {
      margin-left: 5px;
      font-size: 11px;
    }
  }
  .last-updated {
    display: block;
    opacity: 0.5;
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}
.report-types {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    display: inline-block;
    margin-right: 10px;
    &.selected label {
      border-color: @pink;
      color: @pink;
      span.icon {
        color: @pink;
      }
    }
  } 
  label {
    display: block;
    padding: 20px 30px;
    border: 1px solid @greyborder;
    border-radius: 3px;
    span {vertical-align: middle;}
    span.icon {
      margin-right: 10px;
      font-size: 30px;
      color: darken(@grey, 25%);
    }
    input {
      display: none;
    }
  }
}

.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin-bottom: 5px;
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


// move
.btn,
.input {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  padding: 8px 15px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 2px;
  box-shadow: 0 3px 5px -3px fade(@darkgrey, 20%);
  &.action {
    background: @pink;
    color:white;
    border: none;
  }
  &.btn-small {
    font-size: 0.8em;
    padding: 4px 10px;
  }
}


.spin::before{
  line-height:100px;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

